<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.definesys.dmportal">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许程序GPS 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 允许程序打开摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEM" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Main_AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,android:theme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".welcomeActivity.SplashActivity"
            android:theme="@style/Main_AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.ui.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".webview.ui.WebViewActivity" />
        <activity android:name=".appstore.LeaveActivity" />
        <activity android:name=".appstore.SubjectTableActivity" />
        <activity android:name=".appstore.ui.LeaveMainActivity" />
        <activity android:name=".appstore.ui.GroupMainActivity" />
        <activity android:name=".appstore.GroupSearchActivity" />
        <activity android:name=".appstore.LeaveListActivity" />
        <activity android:name=".appstore.LeaveInfoDetailActivity" />
        <activity android:name=".appstore.ApprovalLeaveInfoActivity" />
        <activity android:name=".main.ui.LoginActivity" />
        <activity android:name=".main.userSettingActivity.ForgetPwdActivity" />
        <activity android:name=".main.userSettingActivity.ChangePwdActivity" />
        <activity android:name=".main.userSettingActivity.PhoneBindActivity" />
        <activity android:name=".appstore.LeaveListSearchActivity" />
        <activity android:name=".appstore.LeaveSearchResultActivity" />
        <activity android:name=".main.userSettingActivity.UserSettingActivity"/>
        <activity
            android:name=".appstore.LeaveTextActivity"
            android:configChanges="orientation|keyboardHidden"></activity>
        <!-- APP实现的Receiver，用于接收消息和结果反馈 -->


        <!--&lt;!&ndash; 【必须】 信鸽receiver广播接收 &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="com.tencent.android.tpush.XGPushReceiver"-->
            <!--android:process=":xg_service_v2"-->
            <!--tools:replace="android:process">-->
            <!--<intent-filter android:priority="0x7fffffff">-->

                <!--&lt;!&ndash; 【必须】 信鸽SDK的内部广播 &ndash;&gt;-->
                <!--<action android:name="com.tencent.android.tpush.action.SDK" />-->
                <!--<action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />-->
                <!--&lt;!&ndash; 【必须】 系统广播：开屏和网络切换 &ndash;&gt;-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->

                <!--&lt;!&ndash; 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service &ndash;&gt;-->
                <!--<action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />-->
                <!--<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />-->
                <!--<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver-->
            <!--android:name=".appstore.receiver.MyXGReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->

                <!--&lt;!&ndash; 接收消息透传 &ndash;&gt;-->
                <!--<action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />-->
                <!--&lt;!&ndash; 监听注册、反注册、设置/删除标签、通知被点击等处理结果 &ndash;&gt;-->
                <!--<action android:name="com.tencent.android.tpush.action.FEEDBACK" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--&lt;!&ndash; &lt;!&ndash; 【必须】 信鸽service &ndash;&gt; &ndash;&gt;-->
        <!--&lt;!&ndash; <service &ndash;&gt;-->
        <!--&lt;!&ndash; android:name="com.tencent.android.tpush.service.XGPushServiceV3" &ndash;&gt;-->
        <!--&lt;!&ndash; android:exported="true" &ndash;&gt;-->
        <!--&lt;!&ndash; android:persistent="true" &ndash;&gt;-->
        <!--&lt;!&ndash; android:process=":xg_service_v3" /> &ndash;&gt;-->


        <!--&lt;!&ndash; 【必须】 通知service，此选项有助于提高抵达率 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="com.tencent.android.tpush.rpc.XGRemoteService"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.last.design.dmportal.PUSH_ACTION" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--&lt;!&ndash; 【必须】 【注意】authorities修改为 包名.AUTH_XGPUSH, 如demo的包名为：com.qq.xgdemo &ndash;&gt;-->
        <!--&lt;!&ndash; <provider &ndash;&gt;-->
        <!--&lt;!&ndash; android:name="com.tencent.android.tpush.XGPushProvider" &ndash;&gt;-->
        <!--&lt;!&ndash; android:authorities="com.last.design.dmportal.AUTH_XGPUSH" &ndash;&gt;-->
        <!--&lt;!&ndash; android:exported="true"/> &ndash;&gt;-->


        <!--&lt;!&ndash; &lt;!&ndash; 【必须】 【注意】authorities修改为 包名.TPUSH_PROVIDER, 如demo的包名为：com.qq.xgdemo&ndash;&gt; &ndash;&gt;-->
        <!--&lt;!&ndash; <provider &ndash;&gt;-->
        <!--&lt;!&ndash; android:name="com.tencent.android.tpush.SettingsContentProvider" &ndash;&gt;-->
        <!--&lt;!&ndash; android:authorities="com.last.design.dmportal.TPUSH_PROVIDER" &ndash;&gt;-->
        <!--&lt;!&ndash; android:exported="false" /> &ndash;&gt;-->


        <!--&lt;!&ndash; &lt;!&ndash; 【必须】 【注意】authorities修改为 包名.TENCENT.MID.V3, 如demo的包名为：com.qq.xgdemo&ndash;&gt; &ndash;&gt;-->
        <!--&lt;!&ndash; <provider &ndash;&gt;-->
        <!--&lt;!&ndash; android:name="com.tencent.mid.api.MidProvider" &ndash;&gt;-->
        <!--&lt;!&ndash; android:authorities="com.last.design.dmportal.TENCENT.MID.V3" &ndash;&gt;-->
        <!--&lt;!&ndash; android:exported="true" > &ndash;&gt;-->
        <!--&lt;!&ndash; </provider> &ndash;&gt;-->


        <!--&lt;!&ndash; 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="XG_V2_ACCESS_ID"-->
            <!--android:value="2100326213" />-->
        <!--&lt;!&ndash; 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="XG_V2_ACCESS_KEY"-->
            <!--android:value="A1V1E9E3V2NM" />-->


        <receiver
            android:name="com.definesys.dmportal.appstore.receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.last.design.dmportal" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <receiver android:name="com.definesys.dmportal.appstore.receiver.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.last.design.dmportal" />
            </intent-filter>
        </receiver>
    </application>

</manifest>